<!doctype html>
<!--载入静态文件-->
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <!--网页编码-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--网页标题-->
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'music/css/bootstrap.min.css' %}">
    <!--字体-->
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!--载入静态样式表-->
     <link rel="stylesheet"href="{% static 'music/css/search.css' %}">
    <link rel="stylesheet" href="{% static 'music/css/table_style.css' %}">
    <link rel="stylesheet" href="{% static 'music/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'music/owl-carousel/owl.theme.css'%}"	>
    <link rel="stylesheet" href="{% static 'music/owl-carousel/owl.transitions.css' %}">
    <link rel="stylesheet" href="{% static 'music/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'music/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'music/css/color1.css' %}">


    <!--外部javascript-->
    <script src="{% static 'music/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>

<!--网页主体-->
<body id="page-top" class="index">

<!-- Preloader -->
<div class="preloader"></div>

<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header表示对主页的介绍 -->
<header id="home">
    <!-- Navigation标签定义导航的链接 -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!--导航栏-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav text-center" >
                    <li><a href="{% url 'index' %}">主页</a></li>
                    <!--<li> <a href="/music/index.html"></a></li>-->
                    <li><a href="{% url 'singer' %}">歌手</a></li>
                    <li><a href="{% url 'album' %}">>专辑</a></li>
                    <!--<li class="logo-holder">-->
                        <!--<a href="index.html"><img src="{% static 'music/images/logos/logo.png'%}" alt=""></a>-->
                    <!--</li>-->
                    <li><a href="{% url 'lyricist' %}">作词人</a></li>
                    <li><a href="{% url 'composer' %}">作曲人</a></li>
                    <li><a href="{% url 'song' %}">歌曲</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</header>

<center>
    <br/>
<br/>
<br/>
<section id="search" >
    <form action="" method="get">
        <div class="search-box">
            <input type="text" name="search_text" placeholder="请在这里输入内容"/><span></span>
        </div>
    </form>
    <script src="{% static 'music/js/search.js'%}"></script>
</section>
</center>

{% if search_result %}
<center>
<section id="search-results">
    {% ifequal search_result|first "N" %}
    <p>No results</p>
    {% else %}
    <div class="table-responsive">
        <table class="table-fill">
            <tr>
                <th>专辑名</th>
                <th>语言</th>
                <th>唱片公司</th>
                <th>发行时间</th>
                <th>唱片类型</th>
                <th>歌手名</th>
            </tr>
            {% for r in search_result %}
            <tr>
                <td>{{r.album_name}}</td>
                <td>{{r.album_language}}</td>
                <td>{{r.record_company}}</td>
                <td>{{r.publish_date}}</td>
                <td>{{r.album_type}}</td>
                <td>{{r.singer_name}}</td>
            </tr>
            {% endfor %}
        </table>
        <br/>
    </div>
    {% endifequal %}
</section>
</center>
{% endif %}

<section id="portfolio">
    <div class="container-fluid animatedParent">
            <!-- col-lg-12表示在大屏幕中占12列, text_center实现块元素居中显示 -->
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">热门专辑</h2>
            </div>
        <div class="col-md-12 text-center">
            <ul class="cat-list">
                <li><button class="filter" data-filter="all">所有专辑</button></li>
                <li><button class="filter" data-filter=".category-1">流形乐</button></li>
                <li> <button class="filter" data-filter=".category-2">乡村乐</button></li>
                <li> <button class="filter" data-filter=".category-3">摇滚乐</button></li>
                <li> <button class="filter" data-filter=".category-4">原声带</button></li>
            </ul>
        </div>
        <div class="animated bounceInUp slowest">
            <div id="container">


                <div class="col-md-3 col-sm-6 portfolio-item mix category-2" data-value="4">
                    <a href="?search_text=red" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <p>Red</p>
                                <h4>泰勒斯威夫特</h4>
                            </div>
                        </div>
                        <img src="{% static 'music/images/album/red.jpg' %}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item mix category-1" data-value="8">
                    <a href="?search_text=床边故事" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <p>床边故事</p>
                                <h4>周杰伦</h4>
                            </div>
                        </div>
                        <img src="{% static 'music/images/album/chuangbiangushi.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item mix category-3" data-value="3">
                    <a href="?search_text=怒放的生命" class="portfolio-link" >
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <p>怒放的生命</p>
                                <h4>汪峰</h4>
                            </div>
                        </div>
                        <img src="{% static 'music/images/album/nufangdeshengming.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item mix category-4 " data-value="1">
                    <a href="?search_text=frozen2" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <p>frozen2</p>
                                <h4>电影-冰雪奇缘2</h4>
                            </div>
                        </div>
                        <img src="{% static 'music/images/album/frozen2.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item mix category-4" data-value="6">
                    <a href="?search_text=五十度灰" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <p>五十度灰</p>
                                <h4>电影-五十度灰</h4>
                            </div>
                        </div>
                        <img src="{% static 'music/images/album/wushiduhui.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item mix category-1" data-value="7">
                    <a href="?search_text=异类" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <p>异类</p>
                                <h4>华晨宇</h4>
                            </div>
                        </div>
                        <img src="{% static 'music/images/album/yilei.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item mix category-1" data-value="2">
                    <a href="?search_text=第七感" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <p>第七感</p>
                                <h4>张靓颖</h4>
                            </div>
                        </div>
                        <img src="{% static 'music/images/album/diqigan.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 portfolio-item mix category-1" data-value="3">
                    <a href="?search_text=新的心跳" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <p>新的心跳</p>
                                <h4>邓紫棋</h4>
                            </div>
                        </div>
                        <img src="{% static 'music/images/album/xindexintiao.jpg'%}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bottom-section text-center">
    <div class="container">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <div class="circle footer-images"><img src="{% static 'music/images/email.png' %}" alt=""></div>
                <h4>邮箱</h4>

                <p>673624736@qq.com</p>

            </div>

            <div class="col-md-4">

                <div class="circle footer-images">
                    <img src="{% static 'music/images/address.png'%}" alt="" >
                </div>

                <h4>地址</h4>

                <p>中山大学东校区慎思园10号楼</p>

            </div>

            <div class="col-md-4">

                <div class="circle footer-images"><img src="{% static 'music/images/phone.png'%}" alt=""></div>

                <h4>电话</h4>

                <p>12580</p>

            </div>


        </div>

    </div>

</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-vimeo"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <span class="copyright"> Copyright &copy; 2019. 江金昱_赖少玄_黄镇_蓝靖瑜  All rights reserved.</span>
            </div>
        </div>
    </div>
</footer>



<!-- jQuery -->
<script src="{% static 'music/js/vendor/jquery.js'%}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'music/js/vendor/bootstrap.min.js'%}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'music/js/vendor/jquery.easing.min.js'%}"></script>

<!-- Contact Form JavaScript -->
<script src="{% static 'music/js/vendor/jqBootstrapValidation.js'%}"></script>
<script src="{% static 'music/js/vendor/contact_me.js'%}"></script>
<script src="{% static 'music/js/vendor/owl.carousel.min.js'%}"></script>
<script src="{% static 'music/js/vendor/prettify.js'%}"></script>
<script src="{% static 'music/js/vendor/css3-animate-it.js'%}"></script>

<!-- Theme JavaScript -->
<script src="{% static 'music/js/vendor/agency.min.js'%}"></script>
<script src="{% static 'music/js/vendor/jquery.mixitup.js'%}"></script>
<script src="{% static 'music/js/vendor/wow.min.js'%}"></script>
<!---<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="js/vendor/gmaps.js"></script>--->

<script src="{% static 'music/js/main.js'%}"></script>
<script src="{% static 'music/js/script.js'%}"></script>
<!---<script type="text/javascript">
    //++++++++++++++++++++++++++++++++
    //   Map Code
    //++++++++++++++++++++++++++++++++
    var map = new GMaps({
        div: '#map',
        lat: -12.043333,
        lng: -77.028333
    });
</script>--->

</body>
</html>